
i.req:after{
  position: relative;
  display: inline;
  content: '*';
  color: rgb(207, 38, 38);
}

.item, .item>.item-inner{
  border-bottom-color: #ccc!important;
  box-shadow: none!important;
}

.list .item-input:last-child {
  border-bottom-width: 0px!important;
}
ion-searchbar.searchbar-md, .searchbar-ios{
    padding: 0px 4px;
    background: transparent!important;
    .searchbar-input{
        box-shadow: none;
        background-color: transparent!important;
        padding: 8px 10px;
        color: #fff;
        font-size: 1.8rem;
        &::placeholder { 
            color: #eee;
            opacity: 1;
        }
    }
    .searchbar-search-icon{
        display: none;
    }
}

 ion-menu{
    .user-avatar{
        height: 80px;
        width: 80px;
        object-fit: cover;
    }
    .menu-loader{
        width: 100%;
        margin: 20px auto;
        height: 50px;
        svg{
         stroke: #fff!important;
        }
    }
    .toolbar-content{
        padding: 10px;
        text-align: center;
        color: #fff;
        img{
            border-radius: 100%;
            width: 80px;
            margin-bottom: 10px;
        }
        h3{
            font-size: 1.2em;
            margin: 2px auto;
        }
        h4{
            font-size: 1.1em;
            margin: 2px auto;
        }
    }
    ion-toolbar.toolbar{
        min-height: 157px!important;
        .toolbar-background{
            background-color: map-get($map: $colors, $key: primary);
        }
        color: #fff;
    }
    .menu-inner{
        width: 250px!important;
    }

    ion-label{
        font-size: 1.1em;
        color:#33455a;
    }
}


ion-popover{
  background: rgba(255, 255, 255, 0.8);
  .popover-content{
    left: 10px!important;
    right: 10px!important;
    width: auto!important;
    box-shadow: none!important;
  }
}